*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    
    background-image: url(1.jpg);
    background-size:cover;
    font-family: sans-serif;
    margin: 0;
    border: 0px;
    border-color: black;
}
nav{
    background-color:orange;
    height: 80px;
    width: 100%;
}
.logo{
    color: white;
    font-size: 35px;
    line-height:80px;
    padding: 0 100px;
    font-weight:bold; 
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
        letter-spacing: 2px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;

}
nav ul li a:hover{
  color: chartreuse;   
}
h2{
    margin-bottom: 10px;
    }
.box{
    width: 100px;
    height:250px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left:30px;
    font-size: 15px;
    }
.box input[type="text"]{
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-color:orange;
    color:orange;
   }
.box input[type="password"]{
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-color:orange;
    color:orange;
   }
.box input[type="text"]:hover{
    color:#3E4E55;
}
.box input[type="password"]:hover{
 color:#3E4E55;
}

.box input[type="button"]{
    color: black;
    border-radius: -10px;
    border-color:orange;
    margin-left:70px;
    
}
.box input[type="button"]:hover{
    background-color:chartreuse;
    border-color: black;
    cursor: pointer;
}
p{
 margin-top: 155px;
    font-size:15px;
    font-weight: bold;
    text-align: center;
    color: orange;
    text-decoration: underline;
}
h2{
    font-size:40px;
    color: orange;
    padding-top: 5px;
}



